

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

/*
    span은 inline이므로, margin이 적용되지 않는다. 즉, display: block을 해줘야 한다.
    글자는 주로 span이 쓰인다. 
*/
.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,0.5); 
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity:0.8;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

/*
    대문자 변환은 css로도 할 수 있다.
    text-transform: uppercase;
*/
.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
    width: 15px;
    height: 15;
    border-radius: 50%;
    margin-right: 5px;


}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 1px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
    color: #ffb0e0;
}


/*
    position: relative 넣음
*/
.open-post__photo {
    position: relative;
}
.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}


/*
    배경 안에 들어 있는 요소를 배열하기
    1. 부모에 position: relative를 넣기 
    2. 자식에 position: absolute 넣고 조종 (relative한 부모를 기준으로 움직임)
    
    **챌린지에서 #highlight를 조절하는 게 힘들었기에, 꼭 숙지해둘 필요 있음.
*/


.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}
/*
    배경 안에 들어 있는 요소를 배열하기
*/